body {
  display: flex;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  height: 160vh !important;
}

@media screen and (min-width: 520px) {
  .App {
    width: 520px;
    margin: auto;
  }

  #topbar{
    width: 520px !important;
  }

  .splide__pagination{
    width: 520px !important;
  }

  .sidebar{
    width: 520px;
  }

  .Searchbar{
    width: 520px;
  }
}

@media screen and (max-width: 520px) {
  .splide__pagination{
    width: 100% !important;
  }
  .sidebar{
    width: 100%;
  }
  .Searchbar{
    width: 100%;
  }
}



.largeFont{
  font-size: 130%;
}

.page{
  width: 100%;
  height: 180vh;
}

.splide__pagination{
  top: 1% !important;
  position: fixed !important;
  height: 5% !important;
  margin: 0% !important;
  padding: 0% !important;
}

.splide__pagination li{
  width: 25% !important;
}

.splide__pagination__page{
  width: 80% !important;
  height: 25px !important;
  border-radius: 3px !important;
}

.splide__pagination__page.is-active{
  transform: none !important;
  background: #ACA7CB !important;
}

.splide__pagination__page:hover {
  background: #474554 !important;
}

.sidebar {
  position: fixed;
  z-index: 11;
  top: 0px;
  height: 130vh;
  left: -100%;
  font-size: 50%;
  transition: left 0.3s ease-in-out;
  
}

.sidebar.open {
  left: 0;
}

.sidebar .proper{
  float: left;
  width: 60%;
  height: inherit;
  background-color: #FFFFFF;
}

.sidebar .proper img{
  margin-top: 5vh;
  margin-bottom: 5vh;
  z-index: 11;
  width: 15vh;
}

.sidebar .proper .label{
  width: 82%;
  padding: 4%;
  margin-top: 4%;
  margin-left: 4%;
  border: 1px rgba(0, 0, 0, 0.233) solid;
  border-radius: 10px;
  font-size: 180%;
  background-color: #aca7cb71;
}

.sidebar .proper .label button{
  margin-top: 4%;
  font-size: 120%;
  border-radius: 5px;
  width: 90%;
  background-color: white;
}

.sidebar .proper .label #selected{
  font-weight: bold; 
  background-color: #ACA7CB;
}

.sidebar .proper .label svg{
  width: 25%;
  height: 25%;
}

.sidebar .proper #closeSmall{
  width: 92%;
  padding: 4%;
  margin-top: 20%;
  margin-left: 0%;
  border: none;
  border-radius: 10px;
  font-size: 180%;
  background-color: #aca7cb71;
}
.sidebar .proper #closeSmall svg{
  width: 25%;
  height: 25%;
}

.sidebar #close{
  float: right;
  width: 40%;
  height: 130vh;
  background: none;
  border: none;
  backdrop-filter: blur(8px);
}

#topbar{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 7%;
  background-color: rgba(255, 255, 255, 0.76);
  text-align: left;
}

.Searchbar{
  position: fixed;
  z-index: 3;
  left: 100%;
  height: 7%;
  background-color: rgb(255, 255, 255);
  text-align: left;
  transition: left 0.3s ease-in-out;
}

.Searchbar .error{
  color: rgb(255, 0, 0);
  text-align: center;
}

.Searchbar .error h3{
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 2px;
  margin: 10%;
  padding: 2%;
}


.Searchbar.open {
  left: 0;
}

#SearchTable{
  margin-top: 1vh;
  height: 5%;
  width:100%;
}

#SearchInputTable{
  width:70%;
}

#SearchInput{
  margin-left: 6%;
}

#SearchInput input{
  font-size:1.5em;
  padding: 4px;
  border-radius: 4%;
  border: none;
  width: 90%;
  background-color: #ACA7CB;
}

#SearchTable svg{
  width: 2em;
  height: 2em;
}

#SearchTable button{
  margin-left: 10%;
  background: none;
  border: none;
}

#SearchCancelTable{
  width:15%;
  background: none;
  border: none;
}

#search svg{
  width: 2em;
  height: 2em;
}

#SearchComfirmTable{
  width: 15%;
}

#search{
  margin-top: 1.8vh;
  margin-right: 1.8vh;
  float: right;
  background: none;
  border: none;
}

#sidebarButton{
  margin-top: 1.8vh;
  margin-left: 1.8vh;
  background: none;
  border: none;
}

#sidebarButton svg{
  width: 1.8em;
  height: 1.8em;
}


.home{
  overflow:hidden;
}

#loading{
  padding-top: 40vh;
  margin: 0%;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: 150%;
  background-image: url('https://wallpaperaccess.com/full/1806514.jpg');
  background-attachment: fixed;
  text-align: center;
}

#loading h1{
  font-size: 300%;
  color: white;
}

#landing{
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: 150%;
  background-image: url('https://wallpaperaccess.com/full/1806514.jpg');
  background-attachment: fixed;
}

#moreinfo{
  margin-top: 0vh;
  padding-top: 1vh;
  width: 100%;
  height: 73vh;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

#temperature{
  padding-top: 12vh;
  padding-left: 10%;
  width: 80%;
  height: 16vh;
  padding-bottom: 59vh;
}

#hours{
  height: 10vh;
  width: 95%;
  padding-left: 2.5%;
}

.linesInfo{
  height: 6vh;
  width: 88%;
  padding-left: 6%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.ext{
  height: 12vh !important;
}

.blockInfo{
  height: 18vh;
  width: 88%;
  padding-left: 6%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.smallfore{
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 24vh;
}





.coming{
  background-color: lightgray;
  border: 2px darkgrey solid;
  color: black;
  border-radius: 5px;
  width: 100%;
  height: inherit;
}

.forecast{
  padding-top: 12%;
  background-color: rgb(255, 255, 255);
}
.map{
  background-color: #ffffff;
}

.map p{
  margin-top: 0.8%;
}

.map div{
  font-size: 2em;
  width: 100%;
  padding-top: 4%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  z-index: 3;
  top: 3%;
}

.map iframe{
  padding-top: 21%;
  height: inherit;
}

.map #topbar{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3.8%;
  background-color: rgb(255, 255, 255);
  text-align: left;
}
 
 #float-container b{
   font-size:large;
 }
 
 #float-child{
   width: 50%;
   float: left;
   padding-top: 0px;
 }


 #TimesTop {
   color: white;
 }
 
 #TableTime {
   width: 100%;
   padding-bottom: 0%;
   margin-bottom: 0%;
 }
 
 #Sunrise {
   text-align: center;
   width: 25%;
 }
 
 #Sunset {
   text-align: center;
   width: 25%;
 }
 
 #CurTime{
  -webkit-text-stroke: 1px black;
  text-shadow: 
  -1px -1px 0 black,
  -1px 1px 0 black,
  1px -1px 0 black,
  1px 1px 0 black,
  ;
   text-align: center;
   width: 50%;
   font-size: 30pt;
 }
 
 #GoldenHour{
   font-size: 120%;
   width: 100%;
 }
 
 #ddtable {
   width: 100%;
   padding: 0%;
 }
 
 #Dawn{
   width: 30%;
 }
 
#ddfiller{
   width: 40%;
}

 #Dusk{
   width: 30%;
 }


 .day{
  float:left;
}

.box{
  border: 2px darkgray solid;
  border-radius: 10px;
  background-color: lightgrey;
  width: inherit;
  height: inherit;
  text-align: left;
}

.box .header{
  margin-top: 2vh;
  margin-right: 4%;
  font-size: 200%;
  font-weight: bold;
}

.box div{
  margin-left: 4%;
  margin-top: 1vh;
}

.box .arrow{
  float: right;
  width: 10vh;
  margin: 5vh 5% 0% 0%;
}

.box .moon{
  width: 6.5vh;
}

.box .main{
  width: 13vh;
}

.box .header .reduce{
  font-size: 50%;
}

#temperature{
  padding-top: 10vh;
  padding-left: 10%;
  width: 85%;
  height: 16vh;
  padding-bottom: 59vh;
  font-size: xx-large;
  color: #FFFFFF;
  font-weight: bold;

}

#mainTemp{
  width: 87%;
}

#mainTemp .main{
  font-size: 250%;
}

#mainTemp .secondary{
  float: right;
  margin-top: 3%;
}

#mainTemp .secondary .cold{
  color: rgb(41, 248, 255);
}

#mainTemp .secondary .hot{
  color: rgb(253, 114, 114)
}

#mainTemp .status{
  float: left;
  margin-left: 8%;
}

.smallfore{
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 24vh;
}


hr{
  height:1px;
  border: none;
  background-color: darkgray;
}

#float-container{
  margin-left:10%;
  margin-bottom: 5%;
}

#current_date{
  margin: 1vh;
  border-radius: 5px;
  background-color: #aca7cbb4;
  text-align:center;
  font-size: large;
  font-weight: bolder;
}

.temperature-forecast{
  margin-left:10%;
  margin-bottom:2vh;
  text-align: left;
  font-weight: bolder;
}

.precipitation-forecast{
  margin-left:10%;
  margin-bottom:2vh;
  text-align: left;
  font-weight: bolder;
}

.sunrise-forecast{
  margin-left:10%;
  text-align: left;
  font-weight: bolder;
}

.currhumidity{
  padding-top: 1.5vh;
  text-align: left;
}

.cloud{
  padding-top: 1.5vh;
  margin-right: 20%;
  text-align: right;
}

.humidity{
  padding-top: 0%;
  margin-left:6%;
  margin-bottom:2vh;
  text-align: left;
  font-weight: bolder;
}

.speed{
 margin-left:6%;
 margin-bottom:2vh;
 text-align: left;
 font-weight: bolder;
}

.sunset{
 margin-left:6%;
 margin-bottom:2vh;
 text-align: left;
 font-weight: bolder;
}


.forecast{
  padding-top: 12%;
}

.scrollDown{
  color: rgba(128, 128, 128, 0.794);
  font-weight: bold;
}
